version: 2.1

jobs:
  test:
    docker:
      - image: cimg/node:14.16
    steps:
      - checkout
      - run: npm install
      - run: npm test
      - run: cp -r ../.ssh/ .
      - persist_to_workspace:
          root: ~/
          paths:
            - project

  release:
    docker:
      - image: cimg/node:14.16
    steps:
      - attach_workspace:
          at: ~/
      - run: ./get_version.sh .orig_version
      - run: cp -r .ssh ../.ssh && rm -rf .ssh
      - run: GH_TOKEN=$GH_TOKEN npx semantic-release
      - run: ./get_version.sh .new_version
      - persist_to_workspace:
          root: ~/
          paths:
            - project

  build:
    docker:
      - image: cimg/base:2020.01
    steps:
      - attach_workspace:
          at: ~/
      - setup_remote_docker
      - run: ./build.sh

workflows:
  version: 2
  build:
    jobs:
      - test
      - release:
          context: docker
          filters:
            branches:
              only:
                - main
          requires:
            - test
      - build:
          context: docker
          filters:
            branches:
              only:
                - main
          requires:
            - release
